<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:app="http://schemas.android.com/apk/res-auto"
	android:installLocation="auto"
	package="net.gnu.agrep"
	android:versionCode="202008"
	android:versionName="2020.08">

  	<uses-sdk 
		android:minSdkVersion="14" 
		android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
    <application
		android:name="net.gnu.common.SearcherAplication" 
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
	>
        <activity android:name=".AGrepActivity"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/app_name"
			android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SENDTO" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="com.google.android.gm.action.AUTO_SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE"/>
				<data android:mimeType="*/*" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SENDTO" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="com.google.android.gm.action.AUTO_SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:scheme="file"/>
				<data android:scheme="content"/>
				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:scheme="ftp" />
				<data android:scheme="ftps" />
				<data android:scheme="about" />
				<data android:scheme="javascript" />
				<data android:scheme="mailto" />
				<data android:scheme="sms" />
				<data android:scheme="smsto" />
				<data android:scheme="geo" />
                <data android:scheme="folder"/>
                <data android:scheme="directory"/>
			</intent-filter>

        </activity>

        <activity
            android:name="net.gnu.common.FolderChooserActivity"
			android:label="@string/pick_title"
			
		>
<!--android:theme="@android:style/Theme.Holo.Light.DarkActionBar"-->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.PICK" />
				<action android:name="android.intent.action.MULTIPLE_PICK" />
                <action android:name="org.openintents.action.PICK_FILE"/>
                <action android:name="org.openintents.action.PICK_DIRECTORY"/>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SENDTO" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="org.openintents.action.MULTI_SELECT"/>
				<action android:name="com.google.android.gm.action.AUTO_SEND" />
				<action android:name="android.intent.action.GET_CONTENT" />
				<action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="*/*" />

            </intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.PICK" />
				<action android:name="android.intent.action.MULTIPLE_PICK" />
                <action android:name="org.openintents.action.PICK_FILE"/>
                <action android:name="org.openintents.action.PICK_DIRECTORY"/>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SENDTO" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="org.openintents.action.MULTI_SELECT"/>
				<action android:name="com.google.android.gm.action.AUTO_SEND" />
				<action android:name="android.intent.action.GET_CONTENT" />
				<action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE"/>

				<data android:scheme="file"/>
				<data android:scheme="content"/>
				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:scheme="ftp" />
				<data android:scheme="ftps" />
				<data android:scheme="about" />
				<data android:scheme="javascript" />
				<data android:scheme="mailto" />
				<data android:scheme="sms" />
				<data android:scheme="smsto" />
				<data android:scheme="geo" />
                <data android:scheme="folder"/>
                <data android:scheme="directory"/>

            </intent-filter>

        </activity>
        <!-- android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            -->
        <activity
            android:name="net.gnu.common.DuplicateFinderActivity"
            android:label="Duplicate Finder" 
			android:icon="@drawable/icon"
            android:launchMode="singleTask"
            android:parentActivityName=".AGrepActivity"
        >
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SENDTO" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="*/*" />

			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SENDTO" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:scheme="file"/>
			</intent-filter>
		</activity>
		
		<activity android:name="net.gnu.common.Pdf2ImageActivity"
			android:label="PDF to Images" 
			android:icon="@drawable/icon"
            android:launchMode="singleTask"
            android:parentActivityName=".AGrepActivity"
			android:configChanges="orientation|keyboardHidden|screenSize">
				<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SENDTO" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="application/pdf" />

			</intent-filter>
		</activity>
			
			<activity android:name="net.gnu.common.TTSActivity"
			android:label="Text to Speech" 
			android:icon="@drawable/icon"
            android:launchMode="singleTask"
            android:parentActivityName=".AGrepActivity"
			android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SENDTO" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="text/*" />

			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SENDTO" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:scheme="file"/>
			</intent-filter>
		</activity>
			



		<!--<activity android:name=".Search"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/app_name" android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>-->
        <activity android:name=".TextViewer"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/app_name" >
			<!---
            <intent-filter>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:scheme="file" android:mimeType="text/plain" />
            </intent-filter>
			-->
        </activity>
        <!--<activity android:name=".FileSelectorActivity"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/app_selector" >
        </activity>-->
        <activity android:name=".OptionActivity"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/label_option" >
        </activity>

        <activity android:name=".ColorPickerActivity"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/label_option" >
        </activity>

        <provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="net.gnu.agrep.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true" >
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths" />
		</provider>

		<service android:name="net.gnu.androidutil.ForegroundService" />
		
		<service android:name="net.gnu.pdfplugin.ITextService"
			android:exported="true">
            <intent-filter>
                <action android:name="androidsrc.intent.action.PICK_PLUGIN" />
                <category android:name="androidsrc.intent.category.ADD_PLUGIN" />
            </intent-filter>
        </service>
    </application>
    
</manifest>
